<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titanic AI Project</title>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

    <body style="background: lightblue; color: black" >

            <nav class="navbar navbar-default" id="navbar">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Titanic Project</a>
                  
                      </div>
                  
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                          <li>
                              <a href="/">Home</a>
                          </li>
                        </ul>
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                  </nav>

        <div class="container">
            <div class="row">
                    <div class="col-md-12" style="text-align: center;margin:20px">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background: white; text-align: center;">
                                <img src="../static/images/Titanic_1.jpg" alt="Titanic" style="width:100%;height: 100px">
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="background: white; text-align: center;height: 100px">
                            <h1>Titanic Survival Check Point</h1>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background: white; text-align: center; ">
                            <img src="../static/images/Titanic_2.jpg" alt="Titanic" style="width:100%;height: 100px ">
                        </div>
                    </div>
                        
            </div>
            

            <div class="row">
                <div class="col-md-12" style="text-align: center;margin:20px">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background: white; text-align: center;">
                            <h1>Enter your Details Below!</h1>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-bottom:100px">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/send" role="form", name="survivalform">
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" name="userName" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="inputAge">Age</label>
                            <input type="text" class="form-control" id="inputAge" name="userAge" placeholder="Age">
                        </div>
                        <div class="form-group">
                                <label for="inputEmbarked">Embarked</label>
                                <input type="text" class="form-control" id="inputEmbarked" name="userEmbarked" placeholder="Embarked">
                        </div>
                        <div class="form-group">
                            <label for="inputTicket">Cost of Ticket</label>
                            <input type="text" class="form-control" id="inputTicket" name="userTicket" placeholder="Ticket">
                        </div>
                        <div class="form-group">
                                <label for="inputGender">Gender</label>
                                <input type="text" class="form-control" id="inputGender" name="userGender" placeholder="Gender">
                        </div>
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                </div>
            </div>

        </div>

    </body>

</html>
